<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<style>
    .content-header {
        background: navy;
        color: whitesmoke;
    }
    
    .content-header h2 {
        margin-top: 16px;
    }
    
    .content-header li a {
        margin: 1rem;
        color: whitesmoke;
    }
    
    .content-header li a:hover {
        background: lightskyblue;
    }
    
    .content-header li a:focus {
        background: lightslategrey;
    }
    
    td .nav-pills li a {
        padding: 3px 6px;
    }
    
    #search .input-group {
        margin: 1rem;
    }
    
    #filter .btn-group {
        margin: 1rem;
    }
    
    #filter label.active,
    #filter label:active {
        background-color: #3498db;
        border-color: #2b94d9;
        color: whitesmoke;
    }
</style>

<section class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>
                    <%= fa_icon "desktop fw" %> Devices</h2>
            </div>
            <div class="col-md-8">
                <ul class="nav pull-right nav-pills">
                    <li>
                        <%= link_to new_device_path do %>
                            <%= fa_icon "plus fw" %> New
                                <% end %>
                    </li>
                    <li>
                        <a href="#filter" data-toggle="collapse" aria-expanded="false" aria-controls="filter">
                            <%= fa_icon "filter fw" %> Filter</a>
                    </li>
                    <li>
                        <a href="#search" data-toggle="collapse" aria-expanded="false" aria-controls="search">
                            <%= fa_icon "search fw" %> Search</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="search" class="collapse">
            <%= form_tag "/devices/search", method: "get" do %>
                <div class="input-group">
                    <%= text_field_tag :search, "", class: "form-control", placeholder: "search ..." %>
                        <span class="input-group-btn">
                                <%= button_tag type: "submit", class: "btn btn-info" do %>
                                <%= fa_icon "search fw" %>
                                <% end %>
                                    </span>
                </div>
                <% end %>
        </div>
        <div id="filter" class="collapse">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                            <input type="checkbox" autocomplete="off" checked> Enabled
                        </label>
                <label class="btn btn-default">
                            <input type="checkbox" autocomplete="off"> Disabled
                        </label>
                <label class="btn btn-default">
                            <input type="checkbox" autocomplete="off"> Deleted
                        </label>
            </div>
            <div class="btn-group">
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Type
                      <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <p id="notice">
            <%= notice %>
        </p>
    </div>
</section>

<section>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Host</th>
                    <th>OS</th>
                    <th>Maker</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Purpose</th>
                    <th colspan="3">icons</th>
                </tr>
            </thead>

            <tbody>
                <% @devices.each do |device| %>
                    <tr>
                        <td>
                            <%= device.id %>
                        </td>
                        <td>
                            <% if device.enabled %>
                                <%= label_tag 'Enabled', nil , class: "label label-info" %>
                                    <% elsif device.deleted %>
                                        <%= label_tag 'Deleted', nil , class: "label label-default" %>
                                            <% else %>
                                                <%= label_tag 'Disabled', nil , class: "label label-warning" %>
                                                    <% end %>
                        </td>
                        <td>
                            <%= device.host %>
                        </td>
                        <td>
                            <%= device.os %>
                        </td>
                        <td>
                            <%= device.maker %>
                        </td>
                        <td>
                            <%= device.model %>
                        </td>
                        <td>
                            <%= device._type %>
                        </td>
                        <td>
                            <%= device.purpose %>
                        </td>
                        <td>
                            <ul class="nav nav-pills">
                                <li>
                                    <%= link_to device, class: "btn btn-xs btn-default",
                                        title: "show", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
                                        <%= fa_icon "info fw" %>
                                            <% end %>
                                </li>
                                <li>
                                    <%= link_to  edit_device_path(device), class: "btn btn-xs btn-default", 
                                        title: "edit", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
                                        <%= fa_icon "pencil fw" %>
                                            <% end %>
                                </li>
                                <li>
                                    <%= link_to  edit_device_path(device), class: "btn btn-xs btn-default", 
                                            title: "clone", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
                                        <%= fa_icon "clone fw" %>
                                            <% end %>
                                </li>
                                <li>
                                    <%= link_to device, method: :delete, data: { confirm: '削除します。宜しいですか？'}, class: "btn btn-xs btn-danger",
                                        title: "delete", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
                                        <%= fa_icon "trash fw" %>
                                            <% end %>
                                </li>

                            </ul>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>
    </div>
</section>