<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @device.host %>
</p>

<p>
  <strong>Os:</strong>
  <%= @device.os %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @device.maker %>
</p>

<p>
  <strong>Model:</strong>
  <%= @device.model %>
</p>

<p>
  <strong>Type:</strong>
  <%= @device._type %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @device.purpose %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @device.disabled %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @device.deleted %>
</p>

<p>
  <strong>Create at:</strong>
  <%= @device.create_at %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @device.update_at %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
