!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rmber
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .container
        .row
          %a{:href => "/devices"}
            .col-xs-6.col-sm-6.col-md-6
              = fa_icon "desktop fw"
              Devices
          %a{:href => "/network_interfaces"}
            .col-xs-6.col-sm-6.col-md-6
              = fa_icon "wifi fw"
              Network
    = yield
