<!DOCTYPE html>
<html>

<head>
    <title>Rmber</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<style>
    .header-nav-btn {
        text-align: center;
        height: 3em;
        line-height: 3em;
        color: #5F5F5F;
        font-size: 16px;
    }
    
    .header-nav-btn:hover {
        background: #EEE;
    }
</style>

<body>
    <header>
        <div class="container">
            <div class="row">
                <a href="/devices">
                    <div class="col-xs-6 col-sm-6 col-md-6 header-nav-btn">
                        <%= fa_icon "desktop fw" %> Devices
                    </div>
                </a>
                <a href="/network_interfaces">
                    <div class="col-xs-6 col-sm-6 col-md-6 header-nav-btn">
                        <%= fa_icon "wifi fw" %> Network
                    </div>
                </a>
            </div>
        </div>
    </header>
    <%= yield %>
</body>

</html>